.login-alert{
    border: 1px gray solid;
    border-radius: 3px;
    background-color: red;
}

btn-disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .mycheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* //// Check BOX///// */
  /* On mouse-over, add a grey background color */
  .mycheckbox:hover input ~ .mycheckmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .mycheckbox input:checked ~ .mycheckmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .mycheckbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .mycheckbox input:checked ~ .mycheckmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .mycheckbox .mycheckmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  .p-light{
    border-color: #CED4DA;
  }